<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'players')}">
<head>
    <meta charset="UTF-8">
    <title>WebStats List of Players</title>
</head>
<body>
    <h2 style="text-align: center; font-family: Electro Shackle, sans-serif;  text-decoration: underline" th:text="'List of Players'">Players List</h2>

    <table class="table table-striped">
        <caption style="text-align: center; font-size: medium; color: black">All players in database</caption>
        <thead>
        <tr>
            <th scope="col" style="width: 50px">ID</th>
            <th scope="col" style="width: 50px">Shirt Number</th>
            <th scope="col" style="width: 50px">Position</th>
            <th scope="col" style="width: 150px">First Name</th>
            <th scope="col" style="width: 150px">Last Name</th>
            <th scope="col" style="width: 50px">Age</th>
            <th scope="col" style="width: 150px">Club</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player:${players}">
            <td th:text="${player.id}"></td>
            <td th:text="${player.shirtNumber}"></td>
            <td th:text="${player.position}"></td>
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
            <td th:text="${player.age}"></td>
            <td th:text="${player.club.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>