<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'players')}">
<head>
    <meta charset="UTF-8">
    <title>WebStats List of Coaches</title>
</head>
<body>
    <h2 style="text-align: center; font-family: Electro Shackle, sans-serif; text-decoration: underline" th:text="'List of Coaches'">List of Coaches</h2>

    <table class="table table-striped">
        <caption style="text-align: center; font-size: medium; color: black">All coaches in database</caption>
        <thead>
        <tr>
            <th scope="col" style="width: 50px">ID</th>
            <th scope="col" style="width: 150px">First Name</th>
            <th scope="col" style="width: 150px">Last Name</th>
            <th scope="col" style="width: 50px">Age</th>
            <th scope="col" style="width: 150px">Club</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coach:${coaches}">
            <td th:text="${coach.id}"></td>
            <td th:text="${coach.firstName}"></td>
            <td th:text="${coach.lastName}"></td>
            <td th:text="${coach.age}"></td>
            <td th:text="${coach.club.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>