<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'clubs')}">
<head>
    <meta charset="UTF-8">
    <title>Clubs List</title>
</head>
<body>
<h2>Clubs</h2>
<table id ="clubs" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 200px;">Name</th>
        <th style="width: 150px;">Established</th>
        <th style="width: 150px">Coach</th>
        <th>Players</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="club : ${selections}">
        <td>
            <a th:href="@{/clubs/__${club.id}__}" th:text="${club.name}"/></a>
        </td>
        <td th:text="${club.yearOfEstablishment}"/>
        <td th:text="${club.coach.fullName}"/>
        <td><span th:each="player : ${club.playerSet}" th:text="${player.fullName}"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>