<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'clubs')}">
<head>
    <meta charset="UTF-8">
    <title>WebStats List of Clubs</title>
</head>
<body>
    <h2 style="text-align: center;font-family: Electro Shackle, sans-serif; text-decoration: underline" th:text="'List of Clubs'">List of Clubs</h2>

    <table class="table table-striped">
        <caption style="text-align: center; font-size: medium; color: black">All clubs in database</caption>
        <thead>
        <tr>
            <th scope="col" style="width: 50px">ID</th>
            <th scope="col" style="width: 150px">Name</th>
            <th scope="col" style="width: 150px">Coach</th>
            <th scope="col" style="width: 600px">Players</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="club:${clubs}">
            <td th:text="${club.id}"></td>
            <td th:text="${club.name}"></td>
            <td th:text="${club.coach.firstName} + ' ' + ${club.coach.lastName}"></td>
            <td th:text="${club.getPlayersFullNames()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>